<ion-view title="Новый товар" id="page13">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page13-card22">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <form id="page13-form5" class="list">
        <label class="item item-input" id="page13-input5" name="name">
          <input type="text" placeholder="Название товара">
        </label>
        <a ui-sref="menu.page14" id="page13-button19" class="button button-positive  button-block">выбор магазина</a>
        <label class="item item-input" id="page13-input4">
          <span class="input-label">Input</span>
          <input type="text" placeholder="">
        </label>
        <ion-checkbox id="page13-checkbox2">Акция</ion-checkbox>
      </form>
      <a ui-sref="menu.page12" id="page13-button8" class="button button-positive  button-block">Сравнить цену</a>
      <button id="page13-button9" class="button button-positive  button-block">Добавить в чек</button>
    </div>
  </ion-content>
</ion-view>