<ion-view title="Чек" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="page10-list2" class="manual-list-fullwidth">
      <ion-item id="page10-list-item6">Item 1</ion-item>
      <ion-item id="page10-list-item7">Item 2</ion-item>
      <ion-item id="page10-list-item10">Item</ion-item>
      <ion-item id="page10-list-item8">Item 3</ion-item>
      <ion-item id="page10-list-item9">Item</ion-item>
      <ion-item id="page10-list-item14">Item</ion-item>
      <ion-item id="page10-list-item11">Item</ion-item>
      <ion-item id="page10-list-item13">Item</ion-item>
      <ion-item id="page10-list-item12">Item</ion-item>
    </ion-list>
    <h1 id="page10-heading1" style="color:#000000;">Сумма чека</h1>
  </ion-content>
</ion-view>