<ion-view title="товар хлеб" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page11-card21">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <form id="page11-form4" class="list">
        <h1 id="page11-heading2" style="color:#000000;">Название товара</h1>
        <label class="item item-select" id="page11-select1">
          <span class="input-label">Select</span>
          <select>
            <option>Магазин 1</option>
            <option>Магазин 2</option>
          </select>
        </label>
        <label class="item item-input" id="page11-input3">
          <span class="input-label">Input</span>
          <input type="text" placeholder="">
        </label>
        <ion-checkbox id="page11-checkbox1">Акция</ion-checkbox>
      </form>
      <button id="page11-button6" class="button button-positive  button-block">Сравнить цену</button>
      <button id="page11-button7" class="button button-positive  button-block">Добавить в чек</button>
    </div>
  </ion-content>
</ion-view>