<ion-view title="Плановые покупки" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="page5-list8">
      <ion-item class="item-divider" id="page5-list-item-divider1"> Item</ion-item>
      <ion-item id="page5-list-item16" ui-sref="menu.page17">Item 1</ion-item>
      <ion-item id="page5-list-item21">Item 2</ion-item>
      <ion-item class="item-divider" id="page5-list-item-divider2"> Item</ion-item>
      <ion-item id="page5-list-item24">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>