<ion-view title="Выбор магазина" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="page14-form7" class="list">
      <div id="page14-container1">
        <form id="page14-form8" class="list">
          <label class="item item-input" id="page14-search3">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="поиск">
          </label>
          <button id="page14-button10" class="button button-positive  icon ion-android-search"></button>
          <button id="page14-button11" class="button button-positive  icon ion-map"></button>
          <a ui-sref="menu.page9" id="page14-button15" class="button button-positive  icon ion-plus"></a>
        </form>
      </div>
    </form>
    <ion-list id="page14-list6">
      <ion-item class="item-icon-right" id="page14-list-item41">Item 1
        <i class="icon ion-android-star"></i>
      </ion-item>
      <ion-item id="page14-list-item42">Item 2</ion-item>
      <ion-item id="page14-list-item43">Item 3</ion-item>
      <ion-item id="page14-list-item44">Item 3</ion-item>
      <ion-item class="item-icon-right" id="page14-list-item45">Item 3
        <i class="icon ion-android-star"></i>
      </ion-item>
      <ion-item id="page14-list-item46">Item 3</ion-item>
      <ion-item id="page14-list-item47">Item 3</ion-item>
      <ion-item id="page14-list-item48">Item 3</ion-item>
    </ion-list>
  </ion-content>
</ion-view>