<ion-view title="Добавление магазина" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="page9-form10" class="list">
      <label class="item item-input" id="page9-input7">
        <span class="input-label">название</span>
        <input type="text" placeholder="Название">
      </label>
      <label class="item item-input" id="page9-textarea1">
        <span class="input-label">Адрес</span><textarea placeholder=""></textarea></label>
      <div>lat:: 34.34 long: 35.36</div>
      <a ui-sref="menu.page15" id="page9-button16" class="button button-positive  button-block">Указать координаты на карте</a>
      <button id="page9-button17" class="button button-positive  button-block">использовать текущие координаты</button>
    </form>
  </ion-content>
</ion-view>