<ion-view title="Обратная связь" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="page6-form11" class="list">
      <label class="item item-input" id="page6-input8">
        <span class="input-label">E-mail</span>
        <input type="text" placeholder="E-mail">
      </label>
      <label class="item item-input" id="page6-input9">
        <span class="input-label">Имя</span>
        <input type="text" placeholder="Введите имя">
      </label>
      <label class="item item-input" id="page6-textarea2">
        <span class="input-label">Сообщение</span><textarea placeholder=""></textarea></label>
      <button id="page6-button18" class="button button-positive  button-block">Отправить</button>
    </form>
  </ion-content>
</ion-view>