<ion-view title="сканировать" hide-nav-bar="true" id="page8">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <form id="page8-form2" class="list">
      <label class="item item-input" id="page8-input1">
        <span class="input-label">Input</span>
        <input type="text" placeholder="">
      </label>
      <a ui-sref="menu.page13" id="page8-button4" class="button button-positive  button-block">новый</a>
      <a ui-sref="menu.page11" id="page8-button5" class="button button-positive  button-block">Есть</a>
    </form>
  </ion-content>
</ion-view>