page-receipt {
    .sum {
        padding: 10px; /* Поля вокруг текста */
        font-weight: bold;
        /* font-weight: 100; */
        font-size: 28px;
    }

    .product-name {
        white-space: normal;
    }
}
